{% load static %}
<div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4>ProfitPages</h4>
                <p class="font-monospace">ProfitPages - сервис для монетизации твоего контента. Делись своим творчеством
                    и получай за это деньги!</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <ul class="list-unstyled">
                    <li><a href="{% url 'profitpages:main' %}" class="text-white">Главная</a></li>
                    <li><a href="#" class="text-white">Моя страница</a></li>
                    <li><a href="#" class="text-white">Мои подписки</a></li>
                    <li><a href="{% url 'users:login' %}" class="text-white">Войти</a></li>
                    <li><a href="{% url 'users:register' %}" class="text-white">Регистрация</a></li>
                    <form method="post" action="{% url 'users:logout' %}">
                        <li class="nav-item">
                            {% csrf_token %}
                            <button type="submit"
                                    style="padding: 0.5rem 1rem; border-radius: 0.25rem; background-color: rgba(0,0,0,.03); color: #ff0000; border: none; cursor: pointer;">
                                Выйти
                            </button>
                        </li>
                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
            <img src="{% static 'image/money.png' %}" width="50" height="50">
            <strong>ProfitPages</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>