{% extends 'profitpages/base.html' %}
{% block content %}
{% load static %}

<link href="{% static 'css/ckeditor5-editor.css' %}" rel="stylesheet" type="text/css">

<div class="container mt-3 d-flex justify-content-center">
    <div class="col-lg-8 col-sm-12">
        <h2>
            {% if object %}
            Редактирование профиля автора: {{ object.nickname }}
            {% else %}
            Создание профиля автора
            {% endif %}
        </h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            {% if object %}
            <button type="submit" name="btn_save" class="btn btn-success mt-3">Сохранить</button>
            <button type="submit" name="btn_save" class="btn btn- mt-3" href="{% url 'profitpages:set_user_is_publisher' object.pk %}">Сохранить</button>
            {% else %}
            <button type="submit" name="btn_save" class="btn btn-success mt-3">Сохранить</button>
            {% endif %}
        </form>
    </div>
</div>


{% endblock %}