{% extends 'profitpages/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="col-9"></div>
                <h2>Восстановление пароля</h2>
                <div class="card shadow-sm">
                    <div class="card-body ">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button type="submit" class="btn btn-sm btn-outline-secondary">Сбросить
                    </button>
                    <br>
                    <button type="submit" formaction="{% url 'users:password_reset_auto_generate_done' %}"
                            class="btn btn-sm btn-outline-secondary">
                        Мне лень самому придумывать пароль, дай мне новый, готовый пароль
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}